NODE_PORT=3000
NODE_PWD=1234
NODE_USER=admin
JWT_SECRET=your_jwt_secret_key

# MongoDB configuration
MONGO_USER=root
MONGO_PASS=example
MONGODB_URI=mongodb://root:example@mongo:27017/mydb?authSource=admin


# PostgreSQL configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=mydb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:example@localhost:5432/mydb"